.navbarStyle {
    padding-top: 5px;
    padding-left: 5px;
    background-color: #431781;
}

.navigationMenu {
    padding-top: 8px;
}

.navbarGlyph {
    color: #fcd232;
    padding-right: 7px;
}

.navbarText {
    color: #fcd232;
    font-weight: bold;
}

.navbarLogoPhoto,
.navbarLogoPhotoBottom {
    width: 9vw;
    display: inline-block;
}

.buttonObuka,
.buttonVraboti {
    margin-top: 12px;
}

.buttonObuka,
.buttonVrabotiMobile,
.buttonObukaMobile,
.buttonVraboti,
.buttonAssesment {
    background-image: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
    font-size: 0.82em;
}

.buttonObuka,
.buttonObuka:hover,
.buttonObukaMobile,
.buttonAssesment,
.buttonAssesment:hover {
    background-color: #fcd232;
    color: black;
    padding: 7px 12px;
}

.buttonVraboti,
.buttonVrabotiMobile,
.buttonVraboti:hover {
    background-color: black;
    color: #fcd232;
    padding: 7px 12px;
}

.buttonObuka:hover,
.buttonVraboti:hover {
    box-shadow: 1.5px 3px 5px #9494944f;
    margin-top: 8px;
    transition: 0.2s;
}

.lettersize {
    font-size: 1em;
}

.futureHeader {
    margin-top: 4vh;
    padding: 20vh 0 12vh;
}

.madeBy>p {
    color: white;
}

.madeBy>p>a {
    color: #fcd232;
    text-decoration: underline;
    font-weight: bold;
}

.futureProof {
    color: white;
}

.futureProofPOne {
    font-size: 2.3em;
    text-transform: uppercase;
}

.futureProofPTwo {
    padding: 0 3vw;
}

.buttonAssesment:hover {
    box-shadow: 1.5px 3px 5px #9494944f;
}

.myMenu:hover {
    cursor: pointer;
}

.modal-margin {
    width: 300px;
    margin: 0;
}

.marginLogo {
    margin-left: 35vw;
}

.modalStyle {
    border-radius: 0px;
    width: 300px;
    height: 100vh;
}

.paddingNone {
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}

.closeButton,
.closeButton:hover {
    opacity: 1;
    font-weight: 500;
    font-size: 17px;
    color: black;
}

.logoMenu {
    margin: 5px;
}

.glyphiconX {
    font-size: 25px;
}

.menuClose {
    padding-right: 20px;
    margin-bottom: 13vh;
}

.menuItem {
    border-bottom: 2px solid rgb(230, 230, 230);
    padding: 7px;
    color: black;
    font-weight: bold;
}

.menuItem>a {
    color: black;
}

.menuButton:hover {
    color: #fcd232;
    text-decoration: none;
}

#home,
.bodyGame {
    padding-right: 0 !important;
}

.menuItem>a:hover {
    color: #fcd232;
    text-decoration: none;
}

.cardPhotoColumn {
    height: 180px;
    padding: 0;
}

.cardPhotoColumn>img {
    height: 100%;
    width: inherit;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cardIcon {
    height: 46px;
    background-color: #4c4444;
    padding: 7px;
    margin: 5px;
    margin-left: -5px;
}

.cardText,
.cardTime {
    padding-left: 30px;
    padding-top: 10px;
    color: black;
}

.cardIconDiv {
    padding-right: 30px;
    padding-top: 10px;
}

.cardRow {
    background-color: white;
    border-radius: 4px;
    margin: 3px;
    margin-top: 20px;
    padding-bottom: 35px;
    box-shadow: 3px 3px 10px #9e9e9e4f;
}

.cardRow:hover {
    margin-top: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.cardTitle {
    font-weight: bold;
}

.cardCategory {
    color: rgb(95, 95, 95);
}

.cardCategorySpan {
    color: rgb(38, 111, 136);
}

.cardTimeframeText,
.infoGamePageDiv {
    margin-left: 5px;
    padding-top: 10px;
}

.cardTimeFrame,
.infoGamePageParagraph {
    font-weight: bold;
    margin-bottom: 0;
}

.cardTimeFrameInput,
.infoGamePageParagraphInput {
    color: rgb(95, 95, 95);
}

.cardGlyphicon,
.glyphiconGamePage {
    margin-top: 12px;
    font-size: 22px;
}

.cards {
    margin-bottom: 50px;
}

.buttonBottom {
    margin: 25px 0;
}

.footer {
    margin-top: 50px;
    margin-bottom: 10px;
}

.footerLinks {
    display: inline-block;
    padding: 0 5px;
    color: white;
    font-size: 12px;
}

.footerLinks:hover {
    cursor: pointer;
}

.footerLinks>a {
    text-decoration: none;
    color: white;
}

.footerLinksDiv,
.footerIconDiv {
    margin-top: 12px;
}

.footerIcon {
    color: #fcd232;
    margin: 0 10px;
    font-size: 20px;
}

.navbarGame {
    background-color: transparent;
}

.headerPhotoColumn {
    padding: 0;
    height: 635px;
    width: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 350% 0%, 0% 100%, 0% 100%);
}

.headerPhoto {
    width: inherit;
    height: 100%;
}

.informationPage {
    background-color: #e6e6e6;
    border-radius: 4px;
    padding: 15px;
}

.cardFontAwesomeIcon {
    margin-top: 13px;
    font-size: 22px !important;
}

.seperateInformationPage {
    padding-left: 45px;
}

.titlePage {
    font-weight: bold;
    padding-bottom: 10px;
}

.stepTitle {
    font-weight: bold;
}

.step {
    padding: 15px 0;
    border-top: 1px solid #d2d2d2;
}

.stepColumnDiv,
.titleColumnDiv {
    padding: 0 2px;
}

.explanationColumnDiv {
    padding: 15px 2px;
}

.footerBackground {
    padding-top: 200px;
    position: relative;
}

.footerBackground::before {
    z-index: -1;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #431781;
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(50% 15%, 100% 0%, 100% 100%, -230% 100%);
}

.headerBackground {
    position: relative;
    min-height: 150vh;
}

.headerBackground::before {
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #431781;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 350% 0, 0% 50%, 0% 100%);
}

.contentGamePage {
    margin-top: 30px;
}

.buttonCardModal {
    background-image: none;
    background-color: #431781;
    border-radius: 3px;
    padding: 4px 9px;
    border: 1px solid #4c1a92;
    color: white;
    display: block;
    margin: 0;
    margin-top: 5px;
    float: right;
    box-shadow: 2px 2px 3px -1px #9E9E9E;
}

.emailCardModal {
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    margin: 15px 0 0 0;
}

.cardModalMainDiv {
    padding-bottom: 40px;
    margin-top: 30%;
}

.modalCardBodyText {
    margin: 0;
    font-size: 1.2em;
    color: #263238;
}

.error {
    color: red;
    font-weight: 6px;
    text-align: right;
    padding-top: 2px;
}

.registerPage {
    background-color: #4c1a92;
}

.navbarStyleRegister {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid #431781;
    background-color: #4c1a92;
}

.inputRegister {
    width: 100%;
    border-radius: 3px;
    border: 1px solid gainsboro;
    margin: 5px 0;
    height: 30px;
}

.registerLabel,
.inputRegister {
    display: block;
}

.selectRegister {
    background-image: none;
    background-color: white;
}

.registerTextArea {
    width: 100%;
    height: 130px;
    resize: none;
}

.registerPage {
    height: 100%;
    background-color: #4c1a92;
}

.registerFormRow {
    margin: 10px;
}

.glyphRegister {
    font-size: 25px;
    color: #8d8d8d;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}

.glyphRegister:hover {
    background-color: #431781;
}

.buttonRegisterSubmit {
    background-image: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
    font-size: 0.82em;
    background-color: #fcd232;
    color: black;
    padding: 7px 12px;
    border-radius: 3px;
    margin-top: 15px;
}

.buttonRegisterSubmit:hover {
    background-color: #fcd232;
    color: black;
    padding: 7px 12px;
}

.cardFilter {
    margin: 35px 0 35px 25px;
}

.filterSelect {
    text-transform: uppercase;
    border: 1px solid #4c1a9286;
    background-color: white;
    color: #4c1a9286;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}

.filterSelect:hover {
    color: rgba(165, 52, 52, 0.781);
}

.filterSelect:hover,
.searchColumn:hover {
    cursor: pointer;
}

.searchColumn {
    text-transform: uppercase;
    border: 1.5px solid rgba(165, 52, 52, 0.781);
    background-color: white;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    width: 30%;
    margin-left: 3%;
    margin-top: 19.5px;
}

.titleFilter {
    margin-bottom: 3px;
    font-size: 12px;
    color: #7a6c6c;
}

.categoryColumn {
    width: 40%;
    margin-right: 5%;
}

.timeColumn {
    width: 30%;
    margin-left: 0;
    margin-right: 3%;
}

.groupColumn {
    width: 60%;
    margin-left: 2%;
    margin-right: 4%;
}

#noCards {
    display: none;
    text-align: center;
    font-size: 17px;
    color: red;
    font-weight: bold;
    margin: 50px 0;
}

.labelLogin,
.inputLogin {
    display: block;
}

.inputLogin {
    width: 90%;
    margin-left: 4%;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 3px;
}

.labelLogin {
    margin-left: 4%;
}

.buttonLogin {
    margin-left: 78%;
    font-weight: bold;
    border: none;
    color: black;
    background-color: #fcd232;
    padding: 7px 12px;
    border-radius: 4px;
}

.buttonLogin:hover {
    box-shadow: 1.5px 3px 5px #9494944f;
    background-color: #ffd017;
}

#menuLogin {
    margin-top: 20vh;
}

.closeLogin {
    margin-bottom: 50px;
}

.logoutNote {
    font-weight: bold;
    color: rgb(194, 63, 40);
    margin: 60px 10px;
    font-size: 15px;
}

.registerDialog {
    margin: 8vh 12vw;
}

.contentRegisterModal {
    width: 76vw;
}

.errorLogin {
    color: rgb(194, 63, 40);
    float: right;
    margin-right: 6.5%;
    font-size: 12px;
}

.registerError {
    color: rgb(194, 63, 40);
    float: right;
    font-size: 12px;
}

.registerErrorAster {
    color: rgb(194, 63, 40);
    font-size: 12px;
}

.dialogContact {
    width: 500px;
    margin-top: 18vh;
}

.contactTitle {
    padding: 15px 0;
    margin-left: 4%;
    font-size: 15px;
    font-weight: bold;
    color: #8d8d8d;
}

.contactUl>li {
    padding: 5px 0;
}

.contactUl {
    padding-bottom: 20px;
}

.aboutUsBody {
    padding: 30px;
    border: 3px solid #fcd432e0;
    border-radius: 5px;
}

.aboutusUl>li {
    padding: 5px 0;
    letter-spacing: 1px;
}

.aboutusUl {
    padding-top: 20px;
}

.aboutusUl>li>a {
    color: black;
}

.aboutUsContent {
    font-size: 14px;
    color: #2c2828;
    letter-spacing: 1.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aboutUsDialog {
    width: 850px;
    margin-top: 2vh;
}

.contactBody {
    border: 3px solid #fcd432e0;
    border-radius: 5px;
}

.filterCardM,
.closeFilters {
    display: none;
}

.footerLogoDivMobile {
    display: none;
}

.buttonObukaMobile,
.buttonVrabotiMobile {
    display: none;
}

.goOnTop {
    display: none;
}

.user {
    position: absolute;
    margin-top: 8px;
    margin-left: 20px;
    color: #fcd232;
    font-weight: bold;
}

@media screen and (max-width: 1024px) and (min-width:769px) {
    .cardTitle {
        font-weight: bold;
        font-size: 12px;
    }
    .cardPhotoColumn {
        height: 170px;
    }
    .cardRow {
        padding-bottom: 17px;
    }
    .cardIconDiv {
        padding-left: 0;
    }
    .footerLinksDiv {
        width: 20%;
    }
}

@media screen and (max-width: 1024px) and (min-width:426px) {
    .navbarLogoPhoto,
    .navbarLogoPhotoBottom {
        width: 11vw;
    }
    .marginLogo {
        margin-left: 25vw;
    }
    .buttonObuka,
    .buttonVraboti {
        margin-top: 6px;
    }
    .cardPhotoColumn>img {
        width: 100%;
    }
    .footerLinks {
        padding: 0 2px;
    }
    .footerLogoDiv {
        margin-top: 10px;
    }
    .informationPage {
        padding: 0;
    }
    .seperateInformationPage {
        padding: 0;
    }
    .infoGamePageGlyph {
        margin-left: 120px;
    }
    .glyphiconGamePage,
    .cardFontAwesomeIcon {
        margin-top: 0;
    }
    .infoGamePageMainDiv {
        text-align: center;
        margin-top: 15px;
    }
    .registerBody {
        max-height: 95vh;
        overflow-y: auto;
    }
    .registerDialog {
        margin: 4vh 4vw;
    }
    .contentRegisterModal {
        width: 92vw;
    }
    .filterSelect {
        padding: 10px 0;
    }
    .titleFilter {
        font-size: 11px;
    }
    .categoryColumn,
    .timeColumn,
    .groupColumn {
        margin: 0;
    }
    .categoryColumn {
        width: 47%;
        margin-right: 1%;
    }
    .timeColumn {
        width: 31.33333333%;
        margin-right: 2%;
    }
    .groupColumn {
        width: 64.66666667%;
        margin-right: 0;
    }
    .searchColumn {
        margin-left: 2%;
        width: 30.33333333%;
        margin-top: 17px;
    }
}

@media screen and (max-width: 768px) and (min-width:426px) {
    .cardRow {
        padding-bottom: 0;
    }
    .cardPhotoColumn {
        height: 160px;
    }
    .goOnTop {
        display: block;
        position: fixed;
        bottom: 25px;
        right: 75px;
        font-size: 27px;
        background-color: #80808061;
        border-radius: 19px;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 2px;
        padding-left: 2px;
        border: 1px solid #80808080;
    }
    .goOnTop>div>a {
        color: #a9a9a959;
    }
    .footerBackground {
        z-index: 1;
    }
    .aboutUsDialog {
        width: 95%;
        text-align: justify;
        height: 95%;
        overflow-y: scroll;
    }
    .aboutusUl>li>a {
        font-size: 13px;
    }
    .dialogContact {
        width: 95%;
    }
    .user {
        font-size: 13px;
        margin-top: 3px;
    }
}

@media screen and (max-width: 425px) {
    .navbarLogoPhoto {
        width: 20vw;
    }
    .marginLogo {
        margin-left: 155px;
    }
    .buttonObuka,
    .buttonObuka:hover,
    .buttonVraboti,
    .buttonVraboti:hover {
        display: none;
    }
    .navbarStyle {
        height: 10px;
    }
    .lettersize {
        font-size: 0.66em;
    }
    .cardRow {
        margin: 15px 8px;
        padding-bottom: 0;
        box-shadow: 3px 6px 12px #9e9e9e99;
    }
    .cardPhotoColumn {
        height: 0px;
    }
    .cardPhotoColumn>img {
        display: none;
    }
    .cardIconDiv {
        text-align: right;
        padding-right: 30px;
    }
    .footerLogoDiv {
        display: none;
    }
    .footerLinks {
        padding: 0 5px;
    }
    .footerLinksDiv {
        margin-top: 33px;
    }
    .footerIcon {
        margin: 8px;
    }
    .footer {
        margin-top: 10px;
    }
    .headerPhoto {
        height: 100%;
    }
    .headerPhotoColumn {
        height: 390px;
    }
    .informationPage {
        padding-left: 0;
        padding-right: 0;
    }
    .seperateInformationPage {
        padding-left: 10px;
    }
    .contentGamePage {
        margin: 10px;
        margin-top: 20px;
    }
    .infoGamePageDiv {
        font-size: 11px;
        margin-left: 0;
        padding-left: 4px;
    }
    .infoGamePageMainDiv {
        text-align: center;
    }
    .footerBackground {
        padding-top: 150px;
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, -240% 100%);
    }
    .buttonLogin {
        margin-left: 37%;
        margin-top: 15px;
    }
    .registerBody {
        max-height: 95vh;
        overflow-y: auto;
    }
    .registerDialog {
        margin: 2vh 3vw;
    }
    .contentRegisterModal {
        width: 94vw;
    }
    .titleFilter {
        font-size: 13px;
        color: #4c1a92;
        margin: 8px 0;
        letter-spacing: 0.7px;
    }
    .cardFilter {
        display: none;
        position: fixed;
        bottom: 0;
        z-index: 3;
        margin: 0;
        margin-left: -15px;
        background-color: #f0e7ff;
        width: 60%;
        height: 91%;
        overflow-y: scroll;
    }
    .filterCardM {
        display: block;
        position: fixed;
        bottom: 0;
        background-color: #f0e7ff;
        z-index: 2;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 3px 10px;
        border-top: 1px solid #4c1a9286;
        border-right: 1px solid #4c1a9286;
        border-top-right-radius: 3px;
        font-weight: bold;
        color: #4c1a9286;
        font-size: 12px;
    }
    .closeFilters {
        display: block;
        float: right;
        margin: 5px;
        margin-right: 10px;
        color: darkred;
    }
    .timeColumn,
    .groupColumn,
    .categoryColumn {
        width: 80%;
        margin-left: 10%;
    }
    .searchColumn {
        width: 100%;
        margin-left: 0;
    }
    .filterSelect {
        padding: 8px;
        letter-spacing: 1.5px;
        margin: 0.6px;
        border-radius: 3px;
    }
    .searchColumn {
        padding: 8px;
        letter-spacing: 1.5px;
        border-radius: 3px;
    }
    .futureProofPOne {
        font-size: 2em;
    }
    .footerBackground {
        padding-top: 170px;
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, -190% 100%);
    }
    .futureProofPOne {
        font-size: 1.8em;
    }
    .futureProofPTwo {
        font-size: 0.9em;
    }
    .footerLogoDivMobile {
        display: block;
        float: right;
    }
    .navbarLogoPhotoBottom {
        width: 90px;
    }
    .footer {
        margin-bottom: 0;
    }
    .footerLinksDiv {
        margin-top: 20px;
    }
    .filterSelect {
        text-transform: uppercase;
        border: none;
        background-color: transparent !important;
        color: #4c1a9286;
        font-weight: bold;
        font-size: 10px;
        text-align: left;
        padding: 3px;
        margin-left: 10px;
    }
    .headerBackground {
        min-height: 108vh;
    }
    .noGames {
        margin-top: 35%;
    }
    .buttonObukaMobile,
    .buttonVrabotiMobile {
        display: block;
        width: 180px;
        margin-left: 2%;
        margin-bottom: 3%;
        padding: 8px 0;
    }
    .aboutUsDialog {
        width: 95%;
        text-align: justify;
        height: 95%;
        overflow-y: scroll;
    }
    .aboutusUl>li>a {
        font-size: 13px;
    }
    .dialogContact {
        width: 95%;
    }
    .goOnTop {
        display: block;
        position: fixed;
        bottom: 15px;
        right: 45px;
        font-size: 20px;
        background-color: #80808061;
        border-radius: 19px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 2px;
        padding-left: 2px;
        border: 1px solid #80808080;
    }
    .goOnTop>div>a {
        color: #a9a9a959;
    }
    .assesmentRow {
        padding-bottom: 50px;
    }
    .user {
        font-size: 13px;
        margin-top: 3px;
    }
}

@media screen and (max-width: 375px) {
    .footerLinks {
        padding: 0 3px;
    }
    .selectRegister {
        font-size: 13px;
    }
    .aboutusUl {
        margin-left: -20px;
    }
    .user {
        margin-top: 2px;
    }
}

@media screen and (max-width: 320px) {
    .navbarLogoPhotoBottom {
        margin-left: 120px;
    }
    .MobileLogoFooter {
        margin-left: 0;
    }
    .footerLinksDiv {
        padding: 0;
    }
    .registerLabel {
        font-size: 13px;
    }
    .cardCategory {
        font-size: 13px;
    }
}